$backg: #42474f;
$lime: #35ff11;

body {
  background: $backg;
  color: white;
  text-align: center;
}

button, button:focus {
  background: $backg;
  border: none;
  color: white;
  outline: none;
}

#button {
  border: 2px solid $lime;
  border-radius: 50%;
  font-family: 'Open Sans', sans-serif;
  margin-top: 10px;
  text-align: center;
  width: 300px;
  height: 300px;
}

#btimer {
  font-size: 18pt;
}

#buttonhtml {
  font-size: 24pt;
}

#sdecrease, #sincrease, #bdecrease, #bincrease {
  position: relative;
  bottom: 3px;
}

#stimer {
  font-size: 18pt;
}

.app {
  margin: 50px auto;
  font-family: 'Open Sans', sans-serif;
  width: 650px;
  vertical-align: middle;
}

.breaktext {
  display: inline-block;
}

.sessiontext {
  display: inline-block;
  float: none;
  padding-right: 40%;
}

.title {
  display: block;
  font-family: 'Pacifico', sans-serif;
  font-size: 48pt;
  margin-bottom: 8px;
}